n8n/workflows/001_문의_등록.json
{
  "name": "001 문의 등록",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qna-inquiry-register-change-me",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -940,
        0
      ],
      "id": "d3559d32-bf00-4f34-a0e7-1b4d8e7c8ef1",
      "name": "Webhook",
      "webhookId": "c57f7678-5b38-4b15-b0fe-8b7cc1ca05d8"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst headers = Object.fromEntries(Object.entries(input.headers ?? {}).map(([key, value]) => [key.toLowerCase(), value]));\nconst body = input.body ?? {};\nconst expectedSecret = '__N8N_SHARED_SECRET__';\nconst actualSecret = headers['x-n8n-shared-secret'];\n\nif (!actualSecret) {\n  throw new Error('Missing X-N8N-Shared-Secret header');\n}\n\nif (expectedSecret.startsWith('__N8N_')) {\n  throw new Error('Set N8N_SHARED_SECRET before publishing this workflow');\n}\n\nif (actualSecret !== expectedSecret) {\n  throw new Error('Invalid shared secret');\n}\n\nconst requiredFields = ['request_id', 'dedup_key', 'name', 'email', 'phone', 'title', 'body', 'admin_email', 'notion_database_id'];\nfor (const field of requiredFields) {\n  if (!body[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\nreturn [{\n  json: {\n    workflow: 'inquiry_register',\n    request_id: body.request_id,\n    dedup_key: body.dedup_key,\n    name: body.name,\n    email: body.email,\n    phone: body.phone,\n    title: body.title,\n    inquiry_body: body.body,\n    admin_email: body.admin_email,\n    notion_database_id: body.notion_database_id,\n    received_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -700,
        0
      ],
      "id": "06a32986-1432-4492-af53-fc6c5311a874",
      "name": "Validate Shared Secret and Input"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "={{ $json.notion_database_id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Title|title",
              "title": "={{ $json.title }}"
            },
            {
              "key": "Name|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $json.name }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "key": "Email|email",
              "emailValue": "={{ $json.email }}"
            },
            {
              "key": "Phone|phone_number",
              "phoneValue": "={{ $json.phone }}"
            },
            {
              "key": "Body|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $json.inquiry_body }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "key": "DedupKey|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $json.dedup_key }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "key": "Status|status",
              "statusValue": "Registered"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -440,
        -140
      ],
      "id": "9cb1754c-01df-4f95-bdc3-e7079f27520a",
      "name": "Create Notion Page"
    },
    {
      "parameters": {
        "fromEmail": "Q&A Bot <change-me@example.com>",
        "toEmail": "={{ $('Validate Shared Secret and Input').item.json.admin_email }}",
        "subject": "={{ '[Smart Timelabs Onboarding] 신규 문의 접수: ' + $('Validate Shared Secret and Input').item.json.title }}",
        "emailFormat": "both",
        "text": "=Smart Timelabs Onboarding 신규 문의가 접수되었습니다.\n\n접수 시각: {{ $('Validate Shared Secret and Input').item.json.received_at }}\n문의 제목: {{ $('Validate Shared Secret and Input').item.json.title }}\n문의자: {{ $('Validate Shared Secret and Input').item.json.name }}\n이메일: {{ $('Validate Shared Secret and Input').item.json.email }}\n연락처: {{ $('Validate Shared Secret and Input').item.json.phone }}\n\n문의 내용:\n{{ $('Validate Shared Secret and Input').item.json.inquiry_body }}\n\n운영 정보:\nDedup Key: {{ $('Validate Shared Secret and Input').item.json.dedup_key }}\nNotion URL: {{ $('Create Notion Page').item.json.url }}",
        "options": {
          "appendAttribution": false
        },
        "html": "=<div style=\"background:#f3f4f6;padding:24px;\"><div style=\"max-width:640px;margin:0 auto;background:#ffffff;border:1px solid #e5e7eb;border-radius:16px;padding:32px;font-family:'Apple SD Gothic Neo','Malgun Gothic',sans-serif;color:#111827;\"><p style=\"margin:0 0 8px;font-size:12px;letter-spacing:0.08em;text-transform:uppercase;color:#2563eb;\">Smart Timelabs Onboarding</p><h1 style=\"margin:0 0 12px;font-size:28px;line-height:1.3;\">신규 문의가 접수되었습니다</h1><p style=\"margin:0 0 20px;font-size:15px;line-height:1.7;color:#374151;\">새 문의가 등록되어 확인이 필요합니다.</p><div style=\"background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;padding:20px;margin-bottom:20px;\"><div style=\"font-size:13px;color:#6b7280;margin-bottom:6px;\">문의 제목</div><div style=\"font-size:22px;font-weight:700;line-height:1.4;\">{{ $('Validate Shared Secret and Input').item.json.title }}</div><div style=\"margin-top:12px;font-size:13px;color:#4b5563;\">접수 시각: {{ $('Validate Shared Secret and Input').item.json.received_at }}</div></div><table style=\"width:100%;border-collapse:collapse;margin-bottom:20px;font-size:15px;line-height:1.7;\"><tr><td style=\"padding:8px 0;width:120px;color:#6b7280;\">문의자</td><td style=\"padding:8px 0;\">{{ $('Validate Shared Secret and Input').item.json.name }}</td></tr><tr><td style=\"padding:8px 0;color:#6b7280;\">이메일</td><td style=\"padding:8px 0;\">{{ $('Validate Shared Secret and Input').item.json.email }}</td></tr><tr><td style=\"padding:8px 0;color:#6b7280;\">연락처</td><td style=\"padding:8px 0;\">{{ $('Validate Shared Secret and Input').item.json.phone }}</td></tr></table><div style=\"background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;padding:20px;margin-bottom:20px;\"><div style=\"font-size:13px;color:#6b7280;margin-bottom:8px;\">문의 내용</div><div style=\"white-space:pre-wrap;font-size:15px;line-height:1.8;color:#111827;\">{{ $('Validate Shared Secret and Input').item.json.inquiry_body }}</div></div><div style=\"background:#111827;border-radius:12px;padding:20px;color:#f9fafb;\"><div style=\"font-size:13px;color:#cbd5e1;margin-bottom:10px;\">운영 정보</div><div style=\"font-size:14px;line-height:1.8;\">Dedup Key: {{ $('Validate Shared Secret and Input').item.json.dedup_key }}<br/>Notion URL: <a href=\"{{ $('Create Notion Page').item.json.url }}\" style=\"color:#93c5fd;word-break:break-all;\">{{ $('Create Notion Page').item.json.url }}</a></div></div></div></div>"
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -180,
        -140
      ],
      "id": "576ce150-5364-4b95-a6e1-4609186e2086",
      "name": "Send Admin Email",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": \"ok\",\n  \"workflow\": \"inquiry_register\",\n  \"result\": \"created\",\n  \"request_id\": \"{{ $('Validate Shared Secret and Input').item.json.request_id }}\",\n  \"dedup_key\": \"{{ $('Validate Shared Secret and Input').item.json.dedup_key }}\",\n  \"notion_page_id\": \"{{ $('Create Notion Page').item.json.id }}\",\n  \"admin_email_status\": \"{{ $json.error ? 'failed' : 'sent' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -140
      ],
      "id": "85cf89d2-fd1f-449d-a698-c7bb6ea6548e",
      "name": "Prepare Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        320,
        -140
      ],
      "id": "c75c19ba-4a0a-46c4-b4d1-87fa40b7a0b9",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Shared Secret and Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Shared Secret and Input": {
      "main": [
        [
          {
            "node": "Create Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion Page": {
      "main": [
        [
          {
            "node": "Send Admin Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Admin Email": {
      "main": [
        [
          {
            "node": "Prepare Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "x-n8n-shared-secret": "CHANGE_ME"
        },
        "params": {},
        "query": {},
        "body": {
          "request_id": "demo-request-001",
          "dedup_key": "demo-dedup-key",
          "name": "Hong Gil Dong",
          "email": "user@example.com",
          "phone": "010-1234-5678",
          "title": "Service Inquiry",
          "body": "Inquiry body example",
          "admin_email": "admin@example.com",
          "notion_database_id": "notion-db-id"
        },
        "executionMode": "production"
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "versionId": "e4027663-f7cf-408c-af3e-1f72708f9941",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
