n8n/workflows/002_문의_완료.json
{
  "name": "002 문의 완료",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qna-inquiry-complete-change-me",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        0
      ],
      "id": "8cd2673b-8bbe-4b91-bc44-7322e97fbe3b",
      "name": "Webhook",
      "webhookId": "4c608e78-c449-4de8-972f-dd483e31652b"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst headers = Object.fromEntries(Object.entries(input.headers ?? {}).map(([key, value]) => [key.toLowerCase(), value]));\nconst body = input.body ?? {};\nconst expectedSecret = '__N8N_SHARED_SECRET__';\nconst actualSecret = headers['x-n8n-shared-secret'];\n\nif (!actualSecret) {\n  throw new Error('Missing X-N8N-Shared-Secret header');\n}\n\nif (expectedSecret.startsWith('__N8N_')) {\n  throw new Error('Set N8N_SHARED_SECRET before publishing this workflow');\n}\n\nif (actualSecret !== expectedSecret) {\n  throw new Error('Invalid shared secret');\n}\n\nconst requiredFields = ['request_id', 'notion_page_id', 'name', 'title', 'resolution', 'requester_email', 'admin_email'];\nfor (const field of requiredFields) {\n  if (!body[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\nreturn [{\n  json: {\n    workflow: 'inquiry_complete',\n    request_id: body.request_id,\n    notion_page_id: body.notion_page_id,\n    name: body.name,\n    title: body.title,\n    resolution: body.resolution,\n    requester_email: body.requester_email,\n    admin_email: body.admin_email,\n    completed_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -700,
        0
      ],
      "id": "b5392e2d-e7f8-486e-85f8-b925c87df11b",
      "name": "Validate Shared Secret and Input"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.notion_page_id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|status",
              "statusValue": "Completed"
            },
            {
              "key": "Resolution|rich_text",
              "textContent": "={{ $json.resolution }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -420,
        -180
      ],
      "id": "e83a345d-6d0a-4e4e-9545-fa2e7a1916da",
      "name": "Update Notion Page"
    },
    {
      "parameters": {
        "fromEmail": "Q&A Bot <change-me@example.com>",
        "toEmail": "={{ $('Validate Shared Secret and Input').item.json.requester_email }}",
        "subject": "[Smart Timelabs Onboarding] 문의 답변이 준비되었습니다",
        "emailFormat": "both",
        "text": "=안녕하세요 {{ $('Validate Shared Secret and Input').item.json.name }}님,\n\n문의하신 \"{{ $('Validate Shared Secret and Input').item.json.title }}\"에 대한 답변이 준비되었습니다.\n\n답변 내용:\n{{ $('Validate Shared Secret and Input').item.json.resolution }}\n\n처리 완료 시각: {{ $('Validate Shared Secret and Input').item.json.completed_at }}\n\n감사합니다.\nSmart Timelabs Onboarding",
        "options": {
          "appendAttribution": false
        },
        "html": "=<div style=\"background:#f3f4f6;padding:24px;\"><div style=\"max-width:640px;margin:0 auto;background:#ffffff;border:1px solid #e5e7eb;border-radius:16px;padding:32px;font-family:'Apple SD Gothic Neo','Malgun Gothic',sans-serif;color:#111827;\"><p style=\"margin:0 0 8px;font-size:12px;letter-spacing:0.08em;text-transform:uppercase;color:#2563eb;\">Smart Timelabs Onboarding</p><h1 style=\"margin:0 0 12px;font-size:28px;line-height:1.3;\">문의 답변이 준비되었습니다</h1><p style=\"margin:0 0 20px;font-size:15px;line-height:1.7;color:#374151;\">{{ $('Validate Shared Secret and Input').item.json.name }}님이 남겨주신 문의에 대한 답변을 안내드립니다.</p><div style=\"background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;padding:20px;margin-bottom:20px;\"><div style=\"font-size:13px;color:#6b7280;margin-bottom:6px;\">문의 제목</div><div style=\"font-size:22px;font-weight:700;line-height:1.4;\">{{ $('Validate Shared Secret and Input').item.json.title }}</div><div style=\"margin-top:12px;font-size:13px;color:#4b5563;\">처리 완료 시각: {{ $('Validate Shared Secret and Input').item.json.completed_at }}</div></div><div style=\"background:#eff6ff;border:1px solid #bfdbfe;border-radius:12px;padding:20px;\"><div style=\"font-size:13px;color:#1d4ed8;margin-bottom:8px;\">답변 내용</div><div style=\"white-space:pre-wrap;font-size:15px;line-height:1.8;color:#111827;\">{{ $('Validate Shared Secret and Input').item.json.resolution }}</div></div><p style=\"margin:20px 0 0;font-size:14px;line-height:1.7;color:#4b5563;\">추가 문의가 필요하시면 동일한 채널로 다시 문의해 주세요.</p></div></div>"
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -160,
        -180
      ],
      "id": "0bdd9baa-1ef6-434a-bc76-f68ff49daa31",
      "name": "Send Requester Result Email",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "Q&A Bot <change-me@example.com>",
        "toEmail": "={{ $('Validate Shared Secret and Input').item.json.admin_email }}",
        "subject": "={{ '[Smart Timelabs Onboarding] 문의 처리 완료: ' + $('Validate Shared Secret and Input').item.json.title }}",
        "emailFormat": "both",
        "text": "=Smart Timelabs Onboarding 문의가 처리 완료되었습니다.\n\n처리 완료 시각: {{ $('Validate Shared Secret and Input').item.json.completed_at }}\n문의 제목: {{ $('Validate Shared Secret and Input').item.json.title }}\n문의자: {{ $('Validate Shared Secret and Input').item.json.name }}\n문의자 이메일: {{ $('Validate Shared Secret and Input').item.json.requester_email }}\n\n처리 결과:\n{{ $('Validate Shared Secret and Input').item.json.resolution }}\n\n운영 정보:\nNotion Page ID: {{ $('Validate Shared Secret and Input').item.json.notion_page_id }}\nNotion URL: {{ $('Update Notion Page').item.json.url }}",
        "options": {
          "appendAttribution": false
        },
        "html": "=<div style=\"background:#f3f4f6;padding:24px;\"><div style=\"max-width:640px;margin:0 auto;background:#ffffff;border:1px solid #e5e7eb;border-radius:16px;padding:32px;font-family:'Apple SD Gothic Neo','Malgun Gothic',sans-serif;color:#111827;\"><p style=\"margin:0 0 8px;font-size:12px;letter-spacing:0.08em;text-transform:uppercase;color:#2563eb;\">Smart Timelabs Onboarding</p><h1 style=\"margin:0 0 12px;font-size:28px;line-height:1.3;\">문의 처리가 완료되었습니다</h1><p style=\"margin:0 0 20px;font-size:15px;line-height:1.7;color:#374151;\">운영 확인용 완료 안내 메일입니다.</p><div style=\"background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;padding:20px;margin-bottom:20px;\"><div style=\"font-size:13px;color:#6b7280;margin-bottom:6px;\">문의 제목</div><div style=\"font-size:22px;font-weight:700;line-height:1.4;\">{{ $('Validate Shared Secret and Input').item.json.title }}</div><div style=\"margin-top:12px;font-size:13px;color:#4b5563;\">처리 완료 시각: {{ $('Validate Shared Secret and Input').item.json.completed_at }}</div></div><table style=\"width:100%;border-collapse:collapse;margin-bottom:20px;font-size:15px;line-height:1.7;\"><tr><td style=\"padding:8px 0;width:140px;color:#6b7280;\">문의자</td><td style=\"padding:8px 0;\">{{ $('Validate Shared Secret and Input').item.json.name }}</td></tr><tr><td style=\"padding:8px 0;color:#6b7280;\">문의자 이메일</td><td style=\"padding:8px 0;\">{{ $('Validate Shared Secret and Input').item.json.requester_email }}</td></tr><tr><td style=\"padding:8px 0;color:#6b7280;\">Notion Page ID</td><td style=\"padding:8px 0;\">{{ $('Validate Shared Secret and Input').item.json.notion_page_id }}</td></tr></table><div style=\"background:#ecfeff;border:1px solid #a5f3fc;border-radius:12px;padding:20px;margin-bottom:20px;\"><div style=\"font-size:13px;color:#0f766e;margin-bottom:8px;\">처리 결과</div><div style=\"white-space:pre-wrap;font-size:15px;line-height:1.8;color:#111827;\">{{ $('Validate Shared Secret and Input').item.json.resolution }}</div></div><div style=\"font-size:14px;line-height:1.8;color:#374151;\">Notion URL: <a href=\"{{ $('Update Notion Page').item.json.url }}\" style=\"color:#2563eb;word-break:break-all;\">{{ $('Update Notion Page').item.json.url }}</a></div></div></div>"
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        100,
        -180
      ],
      "id": "7db88096-a71b-4e3b-bf3c-b9eb742cf8b1",
      "name": "Send Admin Completion Email",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": \"ok\",\n  \"workflow\": \"inquiry_complete\",\n  \"result\": \"completed\",\n  \"request_id\": \"{{ $('Validate Shared Secret and Input').item.json.request_id }}\",\n  \"notion_page_id\": \"{{ $('Update Notion Page').item.json.id || $('Validate Shared Secret and Input').item.json.notion_page_id }}\",\n  \"requester_email_status\": \"{{ $('Send Requester Result Email').item.json.error ? 'failed' : 'sent' }}\",\n  \"admin_email_status\": \"{{ $json.error ? 'failed' : 'sent' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        -180
      ],
      "id": "46555788-51ce-436f-9775-0579fb9e36d4",
      "name": "Prepare Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        620,
        -180
      ],
      "id": "cb03e36b-ca00-485d-aa31-b472e804785b",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Shared Secret and Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Shared Secret and Input": {
      "main": [
        [
          {
            "node": "Update Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion Page": {
      "main": [
        [
          {
            "node": "Send Requester Result Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Requester Result Email": {
      "main": [
        [
          {
            "node": "Send Admin Completion Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Admin Completion Email": {
      "main": [
        [
          {
            "node": "Prepare Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "x-n8n-shared-secret": "CHANGE_ME"
        },
        "params": {},
        "query": {},
        "body": {
          "request_id": "demo-request-002",
          "notion_page_id": "demo-notion-page-id",
          "resolution": "Resolution example",
          "requester_email": "user@example.com",
          "admin_email": "admin@example.com",
          "name": "홍길동",
          "title": "문의 제목 예시"
        },
        "executionMode": "production"
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "versionId": "229e6888-d6d0-4d30-b829-ec52ee358fac",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
