n8n/workflows/002_문의_완료.json
{
  "name": "002 문의 완료",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qna-inquiry-complete-change-me",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        0
      ],
      "id": "8cd2673b-8bbe-4b91-bc44-7322e97fbe3b",
      "name": "Webhook",
      "webhookId": "4c608e78-c449-4de8-972f-dd483e31652b"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst headers = Object.fromEntries(Object.entries(input.headers ?? {}).map(([key, value]) => [key.toLowerCase(), value]));\nconst body = input.body ?? {};\nconst expectedSecret = process.env.N8N_SHARED_SECRET ?? 'CHANGE_ME';\nconst actualSecret = headers['x-n8n-shared-secret'];\n\nif (!actualSecret) {\n  throw new Error('Missing X-N8N-Shared-Secret header');\n}\n\nif (expectedSecret === 'CHANGE_ME') {\n  throw new Error('Set N8N_SHARED_SECRET before publishing this workflow');\n}\n\nif (actualSecret !== expectedSecret) {\n  throw new Error('Invalid shared secret');\n}\n\nconst requiredFields = ['request_id', 'notion_page_id', 'resolution', 'requester_email', 'admin_email'];\nfor (const field of requiredFields) {\n  if (!body[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\nreturn [{\n  json: {\n    workflow: 'inquiry_complete',\n    request_id: body.request_id,\n    notion_page_id: body.notion_page_id,\n    resolution: body.resolution,\n    requester_email: body.requester_email,\n    admin_email: body.admin_email,\n    completed_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -700,
        0
      ],
      "id": "b5392e2d-e7f8-486e-85f8-b925c87df11b",
      "name": "Validate Shared Secret and Input"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -420,
        -180
      ],
      "id": "e83a345d-6d0a-4e4e-9545-fa2e7a1916da",
      "name": "TODO Replace with Notion Update"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -160,
        -180
      ],
      "id": "0bdd9baa-1ef6-434a-bc76-f68ff49daa31",
      "name": "TODO Replace with Send Result Email"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        100,
        -180
      ],
      "id": "7db88096-a71b-4e3b-bf3c-b9eb742cf8b1",
      "name": "TODO Replace with Send Admin Completion Email"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": \"ok\",\n  \"workflow\": \"inquiry_complete\",\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"notion_page_id\": \"{{ $json.notion_page_id }}\",\n  \"message\": \"문의 완료 워크플로우 초안이 실행되었습니다. TODO 노드를 실제 Notion/메일 노드로 교체하세요.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        -180
      ],
      "id": "46555788-51ce-436f-9775-0579fb9e36d4",
      "name": "Prepare Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        620,
        -180
      ],
      "id": "cb03e36b-ca00-485d-aa31-b472e804785b",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Shared Secret and Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Shared Secret and Input": {
      "main": [
        [
          {
            "node": "TODO Replace with Notion Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TODO Replace with Notion Update": {
      "main": [
        [
          {
            "node": "TODO Replace with Send Result Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TODO Replace with Send Result Email": {
      "main": [
        [
          {
            "node": "TODO Replace with Send Admin Completion Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TODO Replace with Send Admin Completion Email": {
      "main": [
        [
          {
            "node": "Prepare Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "x-n8n-shared-secret": "CHANGE_ME"
        },
        "params": {},
        "query": {},
        "body": {
          "request_id": "demo-request-002",
          "notion_page_id": "demo-notion-page-id",
          "resolution": "처리 결과 예시",
          "requester_email": "user@example.com",
          "admin_email": "admin@example.com"
        },
        "executionMode": "production"
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "versionId": "229e6888-d6d0-4d30-b829-ec52ee358fac",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
